body {
    background-color: beige !important;
    text-align: center;
    letter-spacing: 3px;
    font-family: "Urbanist" !important;
    cursor: pointer;
}

#userForm {
    padding-bottom: 5%;
}

.mb-3 {
    text-align: left;
}