.dropdownbutton-container {}

.dropdown-button {
  color: white;
  position: inherit;
  padding: 12px 14px;
  font-size: 28px;
  width: 250px;
  background-color: dimgray;
  cursor: pointer;
  text-align: center;
  letter-spacing: 3px;
  font-family: "Urbanist";
  border: none;
  border-radius: 15px;
  /*rounding out button*/
  transition: background-color 0.3s, transform 0.3s;
}

.dropdown-button:hover {
  background-color: navy;
  transform: scale(1.05);
}