#homepage-container {
  min-height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;
  display: block;
}

.video-container::before {
  background-color: rgba(16, 27, 32, 0.826);
  z-index: 1000;
}

.video-container {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
}

#home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*formatting greeting*/
#greeting {
  color: whitesmoke;
  text-align: center;
  font-size: 60px;
  font-family: "Urbanist";
  word-spacing: 6px;
  letter-spacing: 3px;
  font-style: italic;
}

.btn {
  padding: 15px 30px;
  font-size: 25px;
  font-family: "Urbanist";
  color: white;
  background-color: darkgray;
  border: none;
  border-radius: 5px;
  letter-spacing: 3px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: navy !important;
  transform: scale(1.05);
}