.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items to the ends */
  padding: 30px;
  background-color: beige; /* Add background color for better visibility */
}

.nav-header .header-text a {
  font-size: 60px !important;
  font-family: "Urbanist", sans-serif;
  font-weight: lighter;
  color: brown !important;
  text-decoration: none; /* Remove underline from link */
}

.navbar-brand-hr {
  width: 100%;
  margin: 0 auto;
  background-color: orange;
  border: none;
  height: 5px;
}

.bucket-icon {
  transition: transform 0.3s ease;
  padding: 0;
  background-color: transparent; /* Make background transparent */
  border: none;
}

.bucket-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
